credentials/*.json
*.pdf
classified/*.pdf
classified/anexos/*.pdf
classified/cartas/*.pdf
classified/certificados/*.pdf
classified/contratos/*.pdf
classified/finiquitos/*.pdf
classified/liquidaciones/*.pdf
*.json
output/*.json
output/json/*.json


